/////////////////////////////
///////Ported Variables/////
///////////////////////////
$brand-color: #0C9EEF // also in common
$accent-color-complement:#D0021B // also in common
$background-accent-color: #F0F4F9
$accent-subtle-color: #E4EAF2
$action-color: #4A90E2
$outline-color: #CBCBCB
$text-color-accent: #AEBCCE
$text-color: #5B6675 // also in common
$separator-color: #F0F0F2 // also in common
$icr-sell-flow-color: #86CB64
$disabled-state: #CDD7E4
//Advantage Colors
$advantage-color: #F1B80F
$advantage-color-secondary: #9957bc
$advantage-color-secondary-light: #F5F2FB
$advantage-button: #a25dc2

$modal-overlay-color: #f4fafc
// unknown color variables
$brand-color-accent-subtle: #CDD7E4
$brand-color-accent-subtle-light-shade: #F0F4F9 // also in common

$color-palette: ('lightergray': #CDD7E4, 'tintgray': #F0F4F9,'mediumgray': #AEBCCE,'bodygray': #5B6675,'darkgray': #3B444F,'brandblue': #00AAE8,'brandgreen': #86CB64,'lightbrandblue': #ACDEF0,'lightbrandgreen': #C1E3AF,'yellow': #F4EB67,'darkerred': #E74A3C)

$color-theme: ('body-copy': map-get($color-palette, bodygray),'auxillary-copy': map-get($color-palette, mediumgray),'header-copy': map-get($color-palette, bodygray),'link-copy': map-get($color-palette, brandblue),'repair-copy': map-get($color-palette, brandblue),'sell-copy': map-get($color-palette, brandgreen),'active-state': map-get($color-palette, brandblue),'sell-active-state': map-get($color-palette, brandgreen),'body-background': map-get($color-palette, tintgray),'disabled-state': map-get($color-palette, lightergray),'default-border': map-get($color-palette, lightergray),'portal-nav-background': map-get($color-palette, lightergray),'error-border': map-get($color-palette, darkerred),'success-border': map-get($color-palette, brandgreen),'input-background': map-get($color-palette, tintgray),'highlight-error': #F5B3AE,'highlight-success': map-get($color-palette, lightbrandgreen),'highlight-warning': #F9F4AE,'highlight-announcement': map-get($color-palette, lightbrandblue), 'active-border': map-get($color-palette, brandblue), 'placeholder-copy': map-get($color-palette, lightergray))